/.vs/
/ws_api_fundades/bin/
/ws_api_fundades/obj/

/ws_api_fundades_Connections/bin/
/ws_api_fundades_Connections/obj/

/library_ws_api_fundades_Business/bin/
/library_ws_api_fundades_Business/obj/

/ws_api_fundades_Entity/bin/
/ws_api_fundades_Entity/obj/

/ws_api_fundades_Services/bin/
/ws_api_fundades_Services/obj/

/ws_api_fundades_Utils/bin/
/ws_api_fundades_Utils/obj/